html,
body {
  height: 100vh; /* Força a altura exata da janela visual */
  width: 100vw; /* Força a largura exata da janela visual */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede QUALQUER rolagem no nível do navegador */
  background: radial-gradient(circle at top, #1f2a3a, #0d1117);
}

body {
  display: flex;
  flex-direction: column; /* Empilha Header e Main */
  font-family: Arial, Helvetica, sans-serif;
  color: #fafafb;
  box-sizing: border-box;
}

/* O segredo para não estrapolar */
main {
  flex: 1; /* Faz o main ocupar APENAS o que sobra da tela */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden; /* Garante que nada dentro do main crie rolagem externa */
  box-sizing: border-box;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  background: radial-gradient(circle at top, #1f2a3a, #0d1117);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
  border: solid 2px #393e4c;
}

header div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.header-div-1 {
  text-align: center;
  display: grid;
  max-width: 600px;
  grid-template-columns: auto auto;
}
.header-div-1 h3 {
  text-align: left;
}

.header-div-2 {
  text-align: end;
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto;
}
header h1 {
  font: bold 18pt Arial;
}
header h3 {
  font: lighter 10pt Arial;
  margin: auto 0;
  color: #bbbbbb;
}
header img {
  margin-left: 10px;
  width: 44px;
  border-radius: 100px;
  margin: auto;
}

.cadastrar-produtos {
  border: solid 2px #393e4c;
  padding: 12px;
  background: linear-gradient(
    145deg,
    rgba(30, 36, 52, 0.04),
    rgba(42, 47, 65.2),
    rgba(30, 36, 52, 0.04)
  );
  border-radius: 16px 16px 8px 8px;
}
.cadastrar-produtos-titulo {
  border-bottom: solid 2px #393e4c;
  margin: 12px 0;
  padding: 0 12px;
  font: bold 14pt Arial;
}
.cadastrar-produtos input {
  padding: 6px 20px;
  color: #bbbbbb;
  margin: 2px;
  border-radius: 4px;
  border: solid 2px #393e4c;
  background: linear-gradient(
    145deg,
    rgba(30, 36, 52, 0.04),
    rgba(42, 47, 65.2),
    rgba(30, 36, 52, 0.04)
  );
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}
.cadastrar-produtos input:hover {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.04),
    rgba(0, 0, 0, 0.2)
  );
}
input:focus,
textarea:focus,
select:focus {
  outline: none; /* Remove o contorno padrão */
  background-color: #1e2332;
}

div .botao-adicionar {
  background: linear-gradient(
    120deg,
    rgba(60, 158, 76, 0.8),
    rgba(15, 28, 14.8)
  );
  font: bold 10pt Arial;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
div .botao-adicionar:hover {
  background-color: #286b33;
}
div .botao-adicionar:focus {
  background-color: #0d2411;
}
div .botao-adicionar:not(:focus) {
  background: linear-gradient(
    120deg,
    rgba(60, 158, 76, 0.8),
    rgba(15, 28, 14.8)
  );
}
.filtros {
  display: grid;

  margin: 18px 0;
}
@media (min-width: 768px) {
  .filtros {
    /* Muda para 2 colunas */
    grid-template-columns: 1fr 1fr;
  }
}

.busca-div {
  background: linear-gradient(
    145deg,
    rgba(30, 36, 52, 0.04),
    rgba(42, 47, 65.2),
    rgba(30, 36, 52, 0.04)
  );
  display: grid;
  grid-template-columns: 5% 95%;
  align-content: center;
  border: solid transparent 2px;
  border-radius: 6px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}
.busca-div:hover {
  border: solid 2px #393e4c;
}

.busca-div svg {
  margin: auto;
}
.botoes-categorias {
  padding: 0 16px;
  padding-top: 40px;
}

.campo-busca {
  font: normal 12pt Arial;
  color: #bbbbbb;
  background-color: transparent;
  border: none;
  padding: 6px;
  width: 80%;
}

.campo-busca:focus {
  background-color: transparent;
  border: #393e4c;
  padding: 6px;
  width: 80%;
}

.botoes-categorias {
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 10px 0px 10px;
}
.botoes-categorias div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 4px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
  background: #1e2332;
  padding: 0;
  margin: 1px;
  border: solid 2px #393e4c;
}

.botoes-categorias div button {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  border: none;
  color: #bbbbbb;
}
.botoes-categorias div:hover {
  border: solid 2px #555d72;
  background-color: #393e4c;
}

.botoes-categorias div button p {
  font: normal 1remArial;
  padding: 0;
  margin: 0;
  align-content: center;
}

.borda-direita-2-div {
  border-radius: 4px 0 0 4px;
}

.borda-esquerda-2-div {
  border-radius: 0 4px 4px 0;
}

.resultado {
  width: 100%;
  height: 70vw;
  overflow-y: auto;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
  
}
@media (min-width: 700px){
  .resultado{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px){
  .resultado{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1300px){
  .resultado{
    grid-template-columns: repeat(4, 1fr);
  }
}

.logo {
  width: 24px;
}
svg {
  width: 1rem;
}

img {
  width: 18px;
}
button img,
svg {
  width: 4vw;
  max-width: 24px;
}

.produto-card h1,
h2,
h4 {
  margin: 10px 0;
}
.produto-card h1 {
  border-bottom: solid 2px #555d72;
  text-align: center;
}
.produto-card h2,
h4 {
  font: normal 12pt Arial;
}
.produto-card {
  padding: 0 24px;
  border: solid 2px #bbbbbb;
  height: 10rem;
  width: 16rem;
  margin: auto;
  border-radius: 12px;
}

.produto-card div {
  display: grid;
}
.botoes-modificar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
 
}
.botoes-modificar button {
  background: linear-gradient(
    145deg,
    rgba(18, 24, 33, 4),
    rgba(42, 47, 65.2, 0.5),
    rgba(18, 24, 33, 4)
  );
  border: solid 2px #393e4c;
  padding: 4px 8px;
  color: #bbbbbb;
  border-radius: 2px;
}

.botoes-modificar button:hover {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.04),
    rgba(0, 0, 0, 0.2)
  );
  color: #bbbbbb;
}
.resultado {
  margin: auto;
  width: 98%;
  height: 100%;
}
.resultado::-webkit-scrollbar {
  display: none;
}

.vazio img {
  width: 30%;
}
.modal {
  /* O Pulo do Gato: Tira o modal do fluxo normal e fixa na tela */
  position: fixed; 
  bottom: 20px;    /* Distância do fundo */
  right: 20px;     /* Distância da direita (o canto que você quer) */
  z-index: 1000;   /* Garante que ele fique por cima dos produtos */
  
  /* Seus estilos de design */
  background: linear-gradient(145deg, rgba(30, 36, 52, 0.95), rgba(42, 47, 65, 1));
  max-width: 350px; /* Um pouco maior para caber o layout da imagem */
  width: 90%;      /* Responsivo para telas menores */
  border: solid 2px #393e4c;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
  
  /* Começa escondido */
  display: none; 
}
.modal-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}

.modal-body input {
    padding: 8px;
    background: #0d1117;
    border: 1px solid #393e4c;
    color: white;
    border-radius: 4px;
}
.btn-cancelar{
     background-color: #393e4c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
.btn-salvar {
  
    background-color: #286b33;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
